*{
    padding: 0;
    margin: 0;
}


body{
    padding-top: 92px;
    background-image: repeat(url(assets/img/pattern1.jpg));
}

.wrapper{
    position:relative;
    background-image: repeat(url(assets/img/pattern1.jpg));
}

h2, h3, h5{
    color: orangered;
    font-family: 'Grenze Gotisch', cursive;
    text-align: center;
}



span{
    color: orangered;
    font-family: 'Grenze Gotisch', cursive;
    text-align: center;
}

.navbar{
    height: 92px;
}

.navbar-brand img{
    border-radius:45%;
}

.navbar a{
    font-family: 'Grenze Gotisch', cursive;
    font-size: 2rem;
    color: orangered;
}

.nav-mobile-header{
    display: none;
}

.dropdown-menu{
    background-color: black;
}

.dropdown-menu a{
    font-size: 1.4rem;
}

footer{
    position:absolute;
    left:0;
    right:0;
    down:0;
    color:orangered;
    margin-top: 100px;
}

#left-col{
    text-align: center;
}

#right-col{
    text-align: center;
}

#right-col a{
    margin-left: 50px;
}

#right-col a i:hover{
    color: purple;
}

.fab{
    color:orangered;
}

#carousel-video, #carousel-video-info{
    width: 50%;
}

.carousel-item a h1{
    font-size: 4rem;
    color: orangered;
}

#calum-carousel{
    background-position: center;
}

#same-carousel{
    background-position: center;
}

#cards{
    position: relative;
}

#accordion-h2{
    font-size: 5rem;
    text-decoration: underline;
}

.card{
    background-color: black;
    color: orangered;
    position: relative;
}

.card-img{
    float: left;
}

.card-title{
    float: right;
    left: 250px;
    position: absolute;
}

.card-icons a i:hover{
    color: purple;
}

.btn-link{
    width: 100%;
    height: 60px;
    color: orangered;

}

.btn-link:after{
    content: '\2212';
    position: absolute;
}

.btn-link-collapsed:after{
    content: '\002B';
}

.btn-link:before{
    content: '';
    position: absolute;
    z-index: 1;
}

.card-body video{
    width: 100%;
}

.card-title h3{
    font-size: 3rem;
    overflow: hidden;
}

.card-footer h3{
    color: black;
}

.form-group{
    color: orangered;
    font-family: 'Grenze Gotisch', cursive;
    width: 33%;
    margin: 0 auto;
}

.text-primary i{
    color: orangered;
}

.twitter{
   background-color: black;
   margin-left: 210px;
   margin-top: 10px;
}

#footer-twitter{
    margin-right: 210px;
}

.bandcamp{
    margin: auto;
}

/* Credit: https://www.youtube.com/watch?v=wfXz8rW_fUs&list=PLOPo1bGrV4htxbQCS3CPZ59O1kpPdE7PK
Code was not taken directly from this video but the knowledge provided allowed me to create grid of my own */

.artist-grid{
    height: 210vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
    margin-top: 10px;
}

.artist-photo{
    grid-column: 1/2;
    grid-row: 1/2;
}

.artist-photo img{
    margin-left: 18px;
}

.artist-bc{
    grid-column: 3/4;
    grid-row: 1/3;
}

.artist-bc iframe{
    border: 0; 
    width: 450px; 
    height: 1300px;
}

.artist-bio{
    grid-column: 2/3;
    grid-row: 1/2;
    color: orangered;
}

.artist-bio-p{
    padding: 0 10px 0 10px;
}

.artist-video1{
    grid-column: 1/3;
    grid-row: 2/4;
    position: relative;
}

.artist-video1 iframe{
    width: 850px;
    height: 525px;
    position: absolute;
    right: 5px;
}

.artist-video2{
    grid-column: 1/3;
    grid-row: 4/6;
    position: relative;
}

.artist-video2 iframe{
    width: 850px;
    height: 525px;
    position: absolute;
    right: 5px;
}

#same-photo{
    margin-left: 40px;
}

/* Credit: https://www.youtube.com/watch?v=wfXz8rW_fUs&list=PLOPo1bGrV4htxbQCS3CPZ59O1kpPdE7PK
Code was not taken directly from this video but the knowledge provided allowed me to create grid of my own */

.merch-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.merch{
    position: relative;
    overflow: hidden;
}

/*  Credit: code for the hover text animation taken from https://www.youtube.com/watch?v=ltxxNidblts 
        and slightly modified.  */

.merch-text{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: 18px;
    transform: translateY(-100%);
    transition: 0.2s;
}

.merch-text p{
    font-family: 'Grenze Gotisch', cursive;
    font-size: 2rem;
}

.merch-img{
    width: 100%;
}

/*  Credit: code for the hover text animation taken from https://www.youtube.com/watch?v=ltxxNidblts 
        and slightly modified.  */

.merch:hover .merch-text{
    transform: translateY(0);
    text-decoration: none;
    color: orangered;
}

/* Credit: https://www.youtube.com/watch?v=wfXz8rW_fUs&list=PLOPo1bGrV4htxbQCS3CPZ59O1kpPdE7PK
Code was not taken directly from this video but the knowledge provided allowed me to create grid of my own */

.video-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin-left: 30px;
}

.video-single iframe{
    width: 400px;
    height: 250px;
}

/* Credit: https://www.youtube.com/watch?v=wfXz8rW_fUs&list=PLOPo1bGrV4htxbQCS3CPZ59O1kpPdE7PK
Code was not taken directly from this video but the knowledge provided allowed me to create grid of my own */

.event-feed{
    display: grid;
    grid-gap: 20px;
    justify-items: center;
    margin-top: 10px;
}

.event-single{
    height: 30vh;
    width: 60%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 200px, 200px;
    justify-items: center;
    align-items: center;
    border-style: solid;
    border-color: orangered;
}

.event-photo{
    grid-column: 1/2;
    grid-row: 1/3;
}

.event-title{
    grid-column: 2/5;
    grid-row: 1/2;
}

.event-text{
    grid-column: 2/5;
    grid-row: 2/3;
    color: orangered;
}

@media screen and (max-width: 480px){

    .wrapper{
        width: 100%;
    }

    .navbar{
        margin: 0px auto;
        height: 100px;
        z-index: 10;
    }

    .navbar-toggler{
        margin-right: 20px;
        background-color: orangered;
        color: black;
    }

    .navbar-toggler-icon{
        font-size: 1rem;
        margin: 0px auto;
        color: black;
    }

    .dropdown-backdrop {
        position: static;
    }

       .nav-mobile-header{
        display: none;
    }

    .card{
        margin-top: 10px;
    }

    .footer{
        height: 800px;
        position: relative;
    }

    .footer-top{
        display: block;
        position: absolute;
    }

    .footer-copy{
        position: absolute;
        top: 700px;
    }

    .artist-grid{
        display: block;
        height: 200vh;
    }

    .artist-photo img{
        width: 100%;
        margin-left: 0px;
    }

    .artist-bc iframe{
      width: 100%;
      height: 525px;
    }

    .artist-video1 iframe{
        width: 100%;
        height: 250px;
    }

    .artist-video2 iframe{
        width: 100%;
        height: 250px;
        margin-top: 250px;
    }

    .video-grid{
        width: 100%;
        margin: 0px auto;
    }

    .video-single iframe{
        width: 100%;
        margin-left: 10px;
    }

    .event-feed{
    display: grid;
    grid-gap: 20px;
    justify-items: center;
    margin-top: 10px;
    }

    .event-single{
    height: 100vh;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 200px, 200px;
    justify-items: center;
    align-items: center;
    border-style: solid;
    border-color: orangered;
    }

    .event-photo{
    grid-column: 1/2;
    grid-row: 1/3;
    }

    .event-title{
    grid-column: 2/5;
    grid-row: 1/2;
    }

    .event-text{
    grid-column: 2/5;
    grid-row: 2/3;
    color: orangered;
    }

    .twitter{
        margin: 0px auto;
    }

    #footer-twitter{
        margin: 0px auto;
    }

    .merch-text p{
        font-size: 1.75rem;
    }


}


@media screen and (max-width: 770px){

    .wrapper{
        width: 100%;
    }

    .navbar{
        margin: 0px auto;
        height: 100px;
        z-index: 10;
    }

    .navbar-toggler{
        margin-right: 20px;
        background-color: orangered;
        color: black;
    }

    .navbar-toggler-icon{
        font-size: 1rem;
        margin: 0px auto;
        color: black;
    }

    .dropdown-backdrop {
        position: static;
    }

    .nav-mobile-header{
        display: block;
        font-size: 3rem;
    }


     .row{
        display: block;
    }

    .card{
        width: 250px;
        margin-left: 225px;
    }

    .artist-grid{
        display: block;
        height: 200vh;
    }

    .artist-photo{
        margin-right: 30px;
    }

    .artist-photo img{
        width: 90%;
        margin-left: 40px;
    }

    .artist-bio-p{
        width: 100%;
        text-align: center;
    }

    .artist-bio-h2{
        font-size: 3rem;
        text-decoration: underline;
    }

    .artist-bc iframe{
        display: block;
        width: 100%;
        height: 1000px;
        margin-left: 32.5px;
    }

    /* Making bandcamp only visible to pages without youtube videos as I cannot currently make my footer collapsable */

    #bc-a10sin{
        display: none;
    }

    #bc-size{
        display: none;
    }

    #bc-bmd{
        display: none;
    }

    #bc-mcb{
        display: none;
    }

    .artist-video1 iframe{
        width: 100%;
        height: 400px;
    }

    .artist-video2 iframe{
        width: 100%;
        height: 400px;
        margin-top: 450px;
    }

    .video-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }

    .video-single iframe{
    width: 350px;
    height: 200px;
    }

    .event-feed{
    display: grid;
    grid-gap: 20px;
    justify-items: center;
    margin-top: 10px;
    }

    .event-single{
    height: 25vh;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 200px, 200px;
    justify-items: center;
    align-items: center;
    border-style: solid;
    border-color: orangered;
    }

    .event-photo{
    grid-column: 1/2;
    grid-row: 1/3;
    }

    .event-title{
    grid-column: 2/5;
    grid-row: 1/2;
    }

    .event-text{
    grid-column: 2/5;
    grid-row: 2/3;
    color: orangered;
    }


    .merch-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
}

.merch{
    position: relative;
    overflow: hidden;
}

/*  Credit: code for the hover text animation taken from https://www.youtube.com/watch?v=ltxxNidblts 
        and slightly modified.  */

.merch-text{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: 18px;
    transform: translateY(-100%);
    transition: 0.2s;
}

.merch-text p{
    font-family: 'Grenze Gotisch', cursive;
    font-size: 2rem;
}

.merch-img{
    width: 100%;
}

/*  As touch screens don't have use hover, another solution is needed.  */

.merch:hover .merch-text{
    transform: translateY(0);
    text-decoration: none;
    color: orangered;
}

.twitter{
        margin: 0px auto;
    }

    #footer-twitter{
        margin: 0px auto;
    } 

}