*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
    font-family: "Kanit", sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Kanit", sans-serif;
    color: orangered;
}

p{
    font-family: "Kanit", sans-serif;
    color: orangered; 
}

nav{
    background-color: black;
    background-image: url("../assets/img/pattern3.jpg");
    height: 100px;
    border-bottom: 1px solid orangered;
    z-index: 10;
}

.nav{
    padding-top: 50px;
}

.nav-title{
    font-family: "Holtwood One SC", sans-serif;
    color: orangered;
    font-size: 2.75rem;
    position: relative;
    bottom: 8px;
}

.nav-link{
    font-family: "Kanit", sans-serif;
    color: orangered;
    font-size: 1.75rem;
}

.nav-link:hover{
    background-color: orangered;
    color: black;
}

#other-items{
    position: relative;
    bottom: 26px;
}

.other-item button{
   width: 100px;
   height: 66px;
}

#logo a img{
    border-radius: 55%;
    position: relative;
    top: -25px;
}

.fa-bars{
    color: orangered;
}

.modal-content{
    background-color: orangered;
}

#hacker-title{
    color: black;
    font-size: 1.25rem;
}

#flyoutModal{
    width: 1000px;
}

#flyoutHeader{
    color: black;
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
  }
  
  @keyframes fadeInRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @-webkit-keyframes fadeInRight {
    from {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .modal-dialog {
    margin: 0;
  }
  
  .animated {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .modal-header {
    border-radius: 0;
    background-color: orangered;
    border-color: black;
    align-items: center;
    padding: 1.2rem;
  }
  
  .modal-content {
    border-radius: 0;
    border: 0;
    -webkit-box-shadow: -12px 0 38px -14px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -12px 0 38px -14px rgba(0, 0, 0, 0.25);
    box-shadow: -12px 0 38px -14px rgba(0, 0, 0, 0.25);
    background-clip: padding-box;
  }
  
  .modal-backdrop {
    background-color: black;
  }

  .mailing-p{
      color: black;
  }
  
  .modal-button-container {
    margin: 0 auto;
    width: 90%;
    max-width: 500px;
  }

.mailing{
    color: black;
}

#mailing-button1{
    background-color: black;
    color: orangered;
}

#mailing-button1:hover{
    color: white;
}

footer{
    color: orangered;
    border-top: 1px solid orangered;
}

#mailing{
    color: orangered;
}

#mailing-button2{
    background-color: orangered;
    color: black;
}

#mailing-button2:hover{
    background-color: #0275d8;
    color: white;
}

.footer-icons{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    left: 25px;
}

.footer-links{
    color: orangered;
}

.footer-links:hover{
    color: #0275d8;
}

#center-col{
    position: relative;
    top: 7px;
}

.mailing-email{
    width: 55%;
    background-color: black;
    box-sizing: border-box;
    border-radius: 25px;
}

#carousel-h2{
    text-align: center;
}

.jumbotron{
    height: 600px;
    margin-bottom: 0px;
    background-image: url("../assets/img/1.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: orangered;
    font-family: "Grenze", serif;
}

.jumbo-text{
    background-color: rgba(0,0,0,0.8);
    width: 40%;
    border: 2px solid orangered;
    position: relative;
    left: -400px;
    bottom: 0px;
}

.display-4{
    font-size: 1.75rem;
}

.lead{
    font-size: 1rem;
}

#carousel-releases{
    margin-top: 35px;
}

#carousel-releases img{
    width:100%;
    height:100%;
}

#carousel-slide{
    margin-top: 0px;
}
.carousel-item{
    height: 365px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 30px;
  width: 30px;
  outline: white;
  border-radius: 50%;
  border: 1px solid white;
  background-color: orangered;
}

.card{
    background-color: black;
    color: orangered;
}

.artist-releases-title{
    text-decoration: underline;
}

#r2{
    max-width: 75%;
    height: auto;
    margin: 0 auto;
}

.card-wrapper{
    width: 300px;
    height: 300px;
}

.content{
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card-wrapper:hover .content{
    transform: rotateY(180deg);
    transition: 1s;
}

.face-front, .face-back{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    color: orangered;
}

.face-back{
    transform: rotateY(180deg);
}

#artists{
    margin-top: 50px;
}

.accordion .artist-title .btn-link::after{
    font-family: 'FontAwesome';
    content: "\f067";
}

.accordion .artist-title .btn-link .collapsed::after{
    font-family: 'FontAwesome';
    content: "\f068";
}

.fa-spotify{
    color: #1DB954;
}

.fa-youtube{
    color: #FF0000;
}

.fa-bandcamp{
    color: #629aa9;
}

.fa-facebook-f{
    color: #3b5998;
}

.fa-instagram{
    color: #7232bd;
}

.h2-box h2{
    text-decoration: underline;
}

#event-container .event-title{
    font-size: 1.25rem;
    text-decoration: underline;
}

#event-container .card-date{
    font-size: 1rem;
    border: 1px solid black;
}

.card-block .card-title, .card-block .card-date, .card-block .card-text{
    text-align: center;
    color: black;
}

.card-block .ticket{
    margin: 0 auto;
    padding: 20px;

}

.card-block .card-date{
    
}

.card-event{
    margin-bottom: 10px;
    background-image: url(../assets/img/ts.png);
    background-repeat: no-repeat;
    background-position: center;
}

#twitter-container{
    width:100%;
    height: 100%;
}


.merch-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 5px;
    margin: 0 75px;
}

.merch{
    position: relative;
    overflow: hidden;
}

/*  Credit: code for the hover text animation taken from https://www.youtube.com/watch?v=ltxxNidblts 
        and slightly modified.  */

.merch-text{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: 18px;
    transform: translateY(-100%);
    transition: 0.2s;
}

.merch-text p{
    font-family: 'Kanit', serif;
    font-size: 1.5rem;
}

.merch-img{
    width: 100%;
}

/*  Credit: code for the hover text animation taken from https://www.youtube.com/watch?v=ltxxNidblts 
        and slightly modified.  */

.merch:hover .merch-text{
    transform: translateY(0);
    text-decoration: none;
    color: orangered;
}

#merch-cd{
    margin: 0 300px;
}

.product-img img{
    width: 100%;
    height: auto;
}

.product1-img img{
    width: 100%;
    height: auto;
    padding-top: 75px;
    padding-bottom: 150px;
}

.product-price{
    font-size: 1.25rem;
    border: 1px solid orangered;
    background-color: orangered;
    color: black;
}

.product-text{
    color: orangered;
}

.checkout-qty{
    width: 7.5%;
}

.btn-warning{
    background-color: orangered;
    color: black;
}

.btn-warning:hover{
    background-color: orangered;
    color: white;
}

#contact-h3{
    margin: 30px 0px;
}

#map{
    width: 100%;
    height: 400px;
}

#contact-form{
    width: 75%;
}

#contact-form label{
    color: orangered;
}

#contact-details{
    margin-bottom: 50px;
}

#message{
    height: 150px;
}

#contact-button{
    background-color: orangered;
    color: black;
}

#contact-button:hover{
    background-color: black;
    color: orangered;
    border: 1px solid orangered;
}

#video-body{
    
}

#video-wrapper{
    width: 90%;
    column-count: 4;
    margin: 0 auto;
}

.grid-item img{
    width: 100%;
    height: auto;
    margin: 5px;
}

@media only screen and (max-width: 1305px){
    #merch-cd{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
        grid-gap: 5px;
        margin: 0 75px;
    }

    .nav-title{
        color: orangered;
        font-size:1.75rem;
        position: relative;
        bottom: 0px;
    }

     .nav-link{
        color: orangered;
        font-size: 1.25rem;
    }

    #other-items{
        bottom: 28px;
    }
}

@media only screen and (max-width: 1250px){
    #carousel-releases img{
        height: 250px;
        width: 250px;
    }
}

@media only screen and (max-width: 1080px){

    #video-wrapper{
        column-count: 2;
        width: 75%;
    }
}

@media only screen and (max-width: 850px){
     #merch-cd{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-gap: 5px;
        margin: 0 75px;
    }
}

@media only screen and (max-width: 800px){
    
}

@media only screen and (max-width: 768px){
   #contact-form{
       width: 100%;
   }

   #contact-button{
       float: left;
   }
}

@media only screen and (max-width: 450px){
    #video-wrapper{
        column-count: 1;
    }
}