*{
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Grenze", serif;
    color: orangered;
}

p{
    font-family: "Grenze", serif;
    color: orangered; 
}

nav{
    background-color: black;
    background-image: url("../assets/img/pattern3.jpg");
    height: 100px;
}

.nav{
    padding-top: 50px;
}

.nav ul{
    float: left;
}

.nav-title{
    font-family: "Grenze", sans-serif;
    color: orangered;
    font-size: 3.5rem;
}

.nav-link{
    font-family: "Grenze", sans-serif;
    color: orangered;
    font-size: 2rem;
    border: 1px solid orangered;
}

.nav-link:hover{
    background-color: orangered;
    color: black;
}

.other-item{
   
}

#logo a img{
    border-radius: 55%;
    position: relative;
    top: -25px;
}

footer{
    color: orangered;
}

#mailing-button{
    background-color: orangered;
    color: black;
}

#mailing-button:hover{
    background-color: #0275d8;
    color: white;
}

.footer-icons{
    display: flex;
    position: relative;
    top: 30px;
    left: 125px;
}

.footer-links{
    color: orangered;
}

.footer-links:hover{
    color: #0275d8;
}

#mailing-email{
    width: 55%;
}

.jumbotron{
    height: 600px;
    margin-bottom: 0px;
    background-image: url("../assets/img/1.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: orangered;
    font-family: "Grenze", serif;
}

.jumbotron .container{
    background-color: black;
    width: 40%;
    border: 2px solid orangered;
    position: relative;
    left: -300px;
    top: -60px;
}

#carousel-releases{
    margin-bottom: 0px;
}

#carousel-slide{
    margin-top: 0px;
}
.carousel-item{
    height: 450px;

}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 30px;
  width: 30px;
  outline: white;
  border-radius: 50%;
  border: 1px solid white;
  background-color: orangered;
}

.card{
    background-color: black;
    color: orangered;
}

.artist-releases-title{
    text-decoration: underline;
}

.card-wrapper{
    width: 300px;
    height: 300px;
}

.content{
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card-wrapper:hover .content{
    transform: rotateY(180deg);
    transition: 1s;
}

.face-front, .face-back{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    color: orangered;
}

.face-back{
    transform: rotateY(180deg);
}

.accordion .artist-title .btn-link::after{
    font-family: 'FontAwesome';
    content: "\f067";
}

.accordion .artist-title .btn-link .collapsed::after{
    font-family: 'FontAwesome';
    content: "\f068";
}

#contact-h3{
    margin: 50px 0px;
}

#contact-details{
    margin-bottom: 50px;
}

#video-body{
    
}

#video-wrapper{
    width: 90%;
    column-count: 4;
    margin: 0 auto;
}

.grid-item img{
    width: 100%;
    height: auto;
    margin: 5px;
}


@media only screen and (max-width: 1080px){
   .nav-title{
    font-family: "Grenze", sans-serif;
    color: orangered;
    font-size:1.75rem;
    }

    .nav-link{
    font-family: "Grenze", sans-serif;
    color: orangered;
    font-size: 1.25rem;
    border: 1px solid orangered;
    }

    #video-wrapper{
        column-count: 2;
        width: 75%;
    }
}

@media only screen and (max-width: 768px){
    
}

@media only screen and (max-width: 450px){
    #video-wrapper{
        column-count: 1;
    }
}